@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<a href="https://rink.hockeyapp.net/apps/6f8be87a6f9c4abf9095b01ac30d8387/app_versions/11">Blog App Link</a>
