@{
    ViewData["Title"] = "Christmas";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Play Here:</p>


    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="e.g. Adrian">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="number">Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="number" placeholder="between 1- 100 e.g. 68">
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="btnAdd" onclick="Add()">Submit</button>
        </div>
    </form>


<script>
    Add = function () {

        var obj = {
            "Name": document.getElementById('name').value,
            "Number": document.getElementById('number').value
        };
        var url = "/TwoThirdAverage";

	    $.ajax({
	        type: "POST",
	        contentType: "application/json",
	        data: JSON.stringify(obj),
            url: url,
            success: function (ret) {
	          //alert(ret);
   	      },
		    error: function(jqXHR, textStatus, errorThrown) {
		      console.log(textStatus, errorThrown);
		      alert(textStatus);
		      alert(errorThrown);
		    },
		    complete: function() {
		    }
	    });
    };
</script>